body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: 'Apercu', sans-serif;
    background: black;
    color: white;
    text-align: center;
}
h1 {
    font-size: 4rem;
}
a {
    color: aquamarine;
}